---
layout: index
title: Adrien Lecharpentier's blog
---

{% if site.posts == empty %}
  <div class="alert alert-warn">There is no article for the moment. Come back later..</div>
{% else %}
  <div class="hero-unit">
    <h1>{{ site.posts.first.title }}</h1>
    <p>
      {{ site.posts.first.excerpt }}
      <br/>
      <a class="btn btn-info btn-small" href="{{ site.posts.first.url }}">En savoir plus</a>
    </p>
  </div>
  <h2>Les articles</h2>
  <table class="table table-striped">
    <tbody>
  {% for post in paginator.posts %}
      <tr>
        <td>
          {{ post.date | date: "%d/%m/%Y" }}</span> <i class="icon-chevron-right"></i>
          <a href="{{ post.url }}">{{ post.title }}</a>
          {% if post.tags != empty %}
          <div class="pull-right">
            {% for it in post.tags %}
              <span class="label label-info"><i class="icon-tag icon-white"></i> {{ it }}</span>
            {% endfor %}
          </div>
          {% endif %}
      </tr>
  {% endfor %}
    </tbody>
  </table>
  {% if paginator.total_pages != 1 %}
    <div class="pagination pagination-centered">
      <ul>
        <li class="{% if paginator.page == 1 %}disabled{% endif%}">
          <a href="/" class="">«</a>
        </li>
        <li class="{% if paginator.page == 1 %}disabled{% endif%}">
          <a href="/{%if paginator.previous_page != 1 %}page{{paginator.previous_page}}{% endif %}">
            {%if paginator.previous_page %}
              {{paginator.previous_page}}
            {% else %}
              1
            {% endif %}
          </a>
        </li>
        {% if paginator.previous_page and paginator.next_page %}
          <li class="active">
            <a href="#">{{paginator.page}}</a>
          </li>
        {% endif %}
        <li class="{% if paginator.page == paginator.total_pages %}disabled{% endif%}">
          <a href="/page{{paginator.next_page}}">
            {%if paginator.next_page %}
              {{paginator.next_page}}
            {% else %}
              {{paginator.total_pages}}
            {% endif %}
          </a>
        </li>
        <li class="{% if paginator.page == paginator.total_pages %}disabled{% endif%}">
          <a href="/page{{paginator.total_pages}}">»</a>
        </li>
      </ul>
    </div>
  {% endif %}
{% endif %}
