---
layout: root
title: Adrien Lecharpentier's blog
---

{% if site.posts == empty %}
  <div class="alert alert-warn">There is no article for the moment. Come back later..</div>
{% else %}
  <div class="hero-unit">
    {% assign header_limit = 50 %}
    <h1>{{ site.posts.first.title }}</h1>
    {{ site.posts.first.content | truncatewords: header_limit }}
    <br/>
    <a class="btn btn-info btn-small" href="{{ site.posts.first.url }}">En savoir plus</a>
  </div>
  {% assign posts_limit = 10 %}
  <h2>10 Derniers articles</h2>
  <table class="table table-striped">
    <tbody>
  {% for post in site.posts limit:posts_limit offset: 1 %}
      <tr>
        <td>
          {{ post.date | date_to_string }}</span> &raquo; <a href="{{ post.url }}">{{ post.title }}</a>
          {% if post.tags != empty %}
          <div class="pull-right">
            {% for it in post.tags %}
              <span class="label label-info"><i class="icon-tag icon-white"></i> {{ it }}</span>
            {% endfor %}
          </div>
          {% endif %}
      </tr>
  {% endfor %}
  {% if site.posts.size >= posts_limit | plus:'1' %}
    <tr><td><a href="/archives.html">..Les autres sont là..</a></td></tr>
  {% endif %}
    </tbody>
  </table>
{% endif %}
