---
layout: default
---

    <div class="row">
      <a href="/">&larr; Back to home page</a>
    </div>
    <div class="page-header">
      <h1><a href="{{ page.url }}">{{ page.title }}</a></h1>
      <h6>{% if page.date %}published on {{ page.date | date_to_long_string }} @ {{ page.date | date: '%H:%M:%S' }}{% endif %}{% if page.author %} by {{ page.author }} {% endif %}</h6>

    </div>
    <div style="text-align: justify">
      {{ content }}
    </div>

{% if page.tags != empty or page.categories != empty %}
    <div class="row well" style="margin-top: 30px">
      {% if page.tags != empty %}
      Tags: 
      {% for tag in page.tags %}
        <span class="label label-info">{{ tag }}</span>
      {% endfor %}
      <br/>
      {% endif %}
      {% if page.categories != empty %}
      Categories: {% for category in page.categories %}
        <span class="label label-inverse">{{ category }}</span>
      {% endfor %}
      {% endif %}
    </div>
{% endif %}

<div id="disqus_thread"></div>
<script type="text/javascript">
  /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
  var disqus_shortname = 'alecharpsblog'; // required: replace example with your forum shortname
  var disqus_url = 'http://blog.lecharpentier.org';

  /* * * DON'T EDIT BELOW THIS LINE * * */
  (function() {
    var dsq = document.createElement('script'); 
    dsq.type = 'text/javascript'; 
    dsq.async = true;
    dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
  })();
</script>
						<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
						<a href="http://disqus.com" class="dsq-brlink">blog comments powered by <span class="logo-disqus">Disqus</span></a>
